__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
venv/
env
.DS_Store
Thumbs.db
.vscode/
.idea/
archive/
*.csv
*.pth
*.joblib
*.pkl
efficientnetb0_osteoporosis.pth
xgb_model.joblib
label_encoders.joblib
faiss_index/
knowledge_base/
*.tar
*.tmp
*.cache
.ipynb_checkpoints/